name: demo_app
description: A new Flutter project
publish_to: none
version: 1.0.0+1

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: 3.24.0

dependencies:
  flutter:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/bunny.jpg
  
  
  
  

  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
