name: Build & Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  build_and_test:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
            channel: stable
            flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Run lints
        run: flutter analyze
      
      - name: Run tests
        run: flutter test

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
            distribution: zulu
            java-version: 21

      - name: Build Android app
        run: flutter build apk

      - name: Build iOS app
        run: flutter build ios --simulator